/completed/*
/data/*
/.project
/.pydevproject
/resources/config.part*.config
/mappings/mapping.part*
/rawData/*
/mappings/*
/processing/*
/resources/job.config
/resources/dataevaluation.txt
/HarmonizedPatientsWithConsentInfo.csv
