# URI to File or Directory that contains data to be loaded
filename=./data/
# URI to Mapping file
mappingfile=./mappings/mapping.csv
# URI to Patient Mapping file
patientmappingfile=./mappings/mapping.csv.patient
# Location Table Entity files will be written to.
writedestination=./completed/
# Fractional writing
segmentfacts=Y
# Flag to skip mapping headers
skipmapperheader=N
# Flag to skip data headers
skipdataheader=N
# The data seperator for data file(s)
datadelimiter=,
# Flag that contains mapping seperator.
mappingdelimiter=,
# Character used for quoted strings in data file
mappingquotedstring="
# Short Name of Trial
sourcesystemcd=MESA

## Sequencers. Turn to N if you want to perserve the keys used to sequence columns
# Sequence master switch.  Turn to N to not perform any sequencing.
sequencedata=Y
# Instance num switch.  Turn to N to not perform any sequencing.
sequenceinstance=Y
# Patient num switch.  Turn to N to not perform any sequencing.
sequencepatient=Y
# Concept_cd switch.  Turn to N to not perform any sequencing.
sequenceconcept=Y
# encounter_num switch.  Turn to N to not perform any sequencing.
sequenceencounter=Y
